In [1]:
import pandas as pd
import nltk
stopwords = nltk.corpus.stopwords.words('portuguese')
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [2]:
df = pd.read_csv('/kaggle/input/reviews-completas/Reviews Completo.csv',encoding='utf-8')
df

,Livro,Nome,Data,Resenha,Rating
0,A Batalha do Labirinto (Percy Jackson & Os Oli...,Leveson,12/08/20,"Muitas\nGente, esse livro 茅 muito bem desenvol...",5
1,A Batalha do Labirinto (Percy Jackson & Os Oli...,Myka,12/08/20,Gente e que Labirinto !!\nCom toda certeza um ...,4
2,A Batalha do Labirinto (Percy Jackson & Os Oli...,Matheus,12/07/20,simplesmente perfeito\nokay mudei de ideia e a...,5
3,A Batalha do Labirinto (Percy Jackson & Os Oli...,Wi,12/07/20,Um livro importante pra a saga\nEu n茫o costumo...,5
4,A Batalha do Labirinto (Percy Jackson & Os Oli...,Dani,12/07/20,A Batalha do Labirinto\nMesmo depois de saber ...,5
...,...,...,...,...,...
34378,As Cr么nicas de N谩rnia,Tary Belmont,13/05/2009,Estar谩 Sempre em Meu Cora莽茫o\nAmei essa hist贸r...,5
34379,As Cr么nicas de N谩rnia,Iris K.,11/05/2009,"Light\nDisfar莽ado de literatura infantil, N谩rn...",5
34380,As Cr么nicas de N谩rnia,Thallyta :p,02/05/2009,"As cronicas de Narnia.(C,S, Lewis)\nEsse livro...",5
34381,As Cr么nicas de N谩rnia,nathykw,30/04/2009,Eu estava t茫o ansiosa pra ler As Cr么nicas de N...,5
34382,As Cr么nicas de N谩rnia,Eryka,18/04/2009,Perfeito!,5

In [4]:
df2 = df.copy()
for i in range(0,len(df2)):
    
    text = df.iloc[i,3]
    df2.iloc[i,3] = ''.join(c for c in text if not c.isdigit())

In [7]:
df2

,Livro,Nome,Data,Resenha,Rating
0,A Batalha do Labirinto (Percy Jackson & Os Oli...,Leveson,12/08/20,Muitas\nGente esse livro 茅 muito bem desenvolv...,5
1,A Batalha do Labirinto (Percy Jackson & Os Oli...,Myka,12/08/20,Gente e que Labirinto \nCom toda certeza um do...,4
2,A Batalha do Labirinto (Percy Jackson & Os Oli...,Matheus,12/07/20,simplesmente perfeito\nokay mudei de ideia e a...,5
3,A Batalha do Labirinto (Percy Jackson & Os Oli...,Wi,12/07/20,Um livro importante pra a saga\nEu n茫o costumo...,5
4,A Batalha do Labirinto (Percy Jackson & Os Oli...,Dani,12/07/20,A Batalha do Labirinto\nMesmo depois de saber ...,5
...,...,...,...,...,...
34378,As Cr么nicas de N谩rnia,Tary Belmont,13/05/2009,Estar谩 Sempre em Meu Cora莽茫o\nAmei essa hist贸r...,5
34379,As Cr么nicas de N谩rnia,Iris K.,11/05/2009,Light\nDisfar莽ado de literatura infantil N谩rni...,5
34380,As Cr么nicas de N谩rnia,Thallyta :p,02/05/2009,As cronicas de NarniaCS Lewis\nEsse livro 茅 um...,5
34381,As Cr么nicas de N谩rnia,nathykw,30/04/2009,Eu estava t茫o ansiosa pra ler As Cr么nicas de N...,5
34382,As Cr么nicas de N谩rnia,Eryka,18/04/2009,Perfeito,5

In [5]:
vectorizer = CountVectorizer(stop_words=stopwords)
vetores = vectorizer.fit_transform(df2.iloc[:,3])
vocab = vectorizer.get_feature_names_out()
print(vocab)

['__' '___' '______' ... '拆葛仇梆仇' '仇' 'l']

In [7]:
dfC = pd.DataFrame(data = vetores.toarray(),columns=vocab)
dfC

,__,___,______,_______,________,__________,___________,______________,______________________,________________________________,...,娥吼,拣别,拣筐火,,吼,,拣梆,拆葛仇梆仇,仇,l
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34378,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34379,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34380,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34381,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34382,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
vectoTf = TfidfVectorizer(stop_words=stopwords)
vectors = vectoTf.fit_transform(df2.iloc[:,3])
df_Tf = pd.DataFrame(data=vectors.toarray(),columns = vocab)

In [9]:
df_Tf

,__,___,______,_______,________,__________,___________,______________,______________________,________________________________,...,娥吼,拣别,拣筐火,,吼,,拣梆,拆葛仇梆仇,仇,l
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34378,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34380,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34381,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34382,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0